body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black */
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header {
    background-color: #333; /* Dark Grey */
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.contact-content {
    text-align: center;
    padding: 2rem;
}

.contact-content p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

footer {
    background-color: #333; /* Dark Grey */
    color: #fff;
    text-align: center;
    padding: 1rem;
}
